@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #f1f5f9;
}

.transparent-scrollbar::-webkit-scrollbar {
    width: 8px; 
  }
  
  .transparent-scrollbar::-webkit-scrollbar-track {
    background: transparent; 
  }
  
  .transparent-scrollbar::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.5); 
    border-radius: 4px; 
  }
  

  .transparent-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
  }
  